body {
  background-color: #dbd9d9;
}

header {
  background-color: #e7e14b;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
}

header h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  margin-right: 20px;
}