body {
  background-color: #dbd9d9;
}

header {
  background-color: #fbf342;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
}

.icons {
  display: flex;
  justify-content: flex-start;
}

header h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  margin-left: 20px;
}