body {
  background-color: #dbd9d9;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #fbf342;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  font-family: 'Amatic SC', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons, .options {
  display: flex;
}

.icons {
  margin-left: 40px;
}

.options {
  margin-right: 40px;
}

.options h2 {
  margin: 0 20px;
}

header h1 {
  font-size: 40px;
  margin-left: 20px;
}

.address-window {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs {
  font-family: 'Amatic SC', cursive;
  padding: 40px 40px;
  display: flex;
  justify-content: center;
}

.inputs {
  font-size: 32px;
  flex-wrap: wrap;
}

.inputs li {
  margin: 0 20px;
}

form {
  display: flex;
  justify-content: center;
  background-color: #fbf342;
  height: 100%;
  margin-top: 200px;
  width: 960px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 9px 6px rgba(191, 191, 191, 1);
  -moz-box-shadow: 2px 2px 9px 6px rgba(191, 191, 191, 1);
  box-shadow: 2px 2px 9px 6px rgba(191, 191, 191, 1);
}

ul {
  list-style-type: none;
  max-width: 600px;
}