body {
  background-color: #dbd9d9;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0;
  width: 100%;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  position: fixed;
  height: 50px;
  font-family: 'Amatic SC', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f2efef;
}

.header img {
  width: 100%;
  height: auto;
  margin-top: -400px;
}

.container {
  width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

.options {
  display: flex;
}

header h1 {
  font-size: 40px;
  margin-left: 20px;
}

.about {
  margin-top: -10px;
  background-color: #074468;
  padding: 20px;
  color: #f2efef;
  display: flex;
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: center;
  color: #074468;
}

.about p {
  width: 70%;
  margin-right: 40px;
}

.img-taxi {
  height: auto;
  width: 50%;
  border-radius: 10px;
}

.confirmation {
  display: flex;
  justify-content: center;
  background-color: #fbf342;
  margin-top: 200px;
  width: 960px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 9px 6px rgba(191, 191, 191, 1);
  -moz-box-shadow: 2px 2px 9px 6px rgba(191, 191, 191, 1);
  box-shadow: 2px 2px 9px 6px rgba(191, 191, 191, 1);
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li {
  margin-bottom: 10px;
  flex: 1;
  display: flex;
}

li input {
  min-height: 36px;
  border: 1px solid #074468;
  border-radius: 0;
  padding: 5px;
  margin-right: 10px;
  width: 50%;
  color: #074468;
}

li input:last-child {
  margin-right: 0px;
}

li button {
  width: 100%;
  background: #074468;
  border: 1px solid #074468;
  color: #ffffff;
  height: 50px;
}

.confirmation {
  display: flex;
  justify-content: center;
}

.confirmation img {
  width: 150px;
}

.confirmation>* {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 24px;
  }
  .container {
    flex-direction: column;
  }
  ul {
    padding-left: 0;
  }
  .about p {
    width: 100%;
  }
  .img-taxi {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .header img {
    margin-top: -200px;
  }
}

@media only screen and (max-width: 600px) {
  .header img {
    margin-top: 0px;
  }
}